Options +FollowSymLinks
RewriteEngine On

DirectoryIndex index.html

#Escaped fragment, used for Google and Bing bots crawling pages with AJAX content
RewriteCond %{QUERY_STRING} ^_escaped_fragment_=(.*)$
RewriteRule ^(.*)$ crawl.php?%1 [NC,L]
