<!doctype html>
<html lang="en" ng-app="KSA_Bladr">
<head>
  <meta charset="utf-8">
  <title>KSA Bladr</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
 <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-mocks.js"></script> -->
  <script src="app.js"></script>
  <script src="controllers/ViserCtrl.js"></script>
  <script src="services/BrowseService.js"></script>
  <script src="services/MetadataManagerService.js"></script>
  <script src="services/FormBuilderService.js"></script>
  <script src="services/URLBuilderService.js"></script>
  

<script src="directives/formly-form.js"></script>
<script src="directives/formly-field.js"></script>
<script src="directives/autocomplete.js"></script>
    
</head>
<body ng-controller="ViserCtrl">
    <!-- Billedenavigation -->
    <a href="#" ng-click="browse.step(-5)">&lt;&lt;</a><a href="#" ng-click="browse.step(-1)">&lt;</a> Billede <input ng-change="browse.step()" ng-model="browse.currentStep"> af {{browse.numberOfObjects}} <a href="#" ng-click="browse.step(1)">></a><a href="#" ng-click="browse.step(5)">>></a>
    
    <!-- Metadata for det givne object -->
    <p>{{browse.metadata}}</p> 
    <p>Her er image url: {{browse.imageUrl}}</p> 

    <!-- Information om den givne samling -->
    <p><!--{{collection.short_name}}-->Politiets mandtaller</p>
    <p><!--{{collection.info}}-->Indeholder informationer om alle borgere i København i perioden 1866-1893</p>
    <p><a href="{{collection.link}}">Læs mere</a></p>
    
    <!-- Permalink -->
    <p>{{linkToPage}}www.kbharkiv.dk/kildeviseren/1/32</p>   
    
    <!-- Metadatafiltre -->
    <form method="get">
    År:
    <select ng-model="selectedMonth" ng-options="item.year as item.year for item in years">
      <option value="">Vælg år</option>
    </select>
    Måned:
    <select ng-model="selectedYear" ng-options="item.month as item.month for item in months">
      <option value="">Vælg måned</option>
    </select>    
    Gadenavn
    <autocomplete ng-model="selectedStreetname" attr-placeholder="Gadenavn" click-activation="options.click_activation" data="data" on-type="doSomething" class="ng-scope ng-isolate-scope ng-pristine ng-valid"></autocomplete>
    <input type="submit" ng-click="loadContent()" value="Søg">
    </form>
    <!--<formly-form name="myFormName"
                 result="formData"
                 fields="formFields"
                 options="formOptions"
                 ng-submit="onSubmit()">
    </formly-form> -->    
    
    <!--
    <button ng-click="sayHallo()">Hej</button>
    <p>{{welcomeText}}</p>
    <div>
            <h3>Form</h3>
            <formly-form name="myFormName"
                         result="formData"
                         fields="formFields"
                         options="formOptions"
                         ng-submit="onSubmit()">
            </formly-form>
    </div>
    <dynamic-form class="col-md-12" template="formTemplate" ng-model="testformTemplate"></dynamic-form>
    <autocomplete ng-model="value" attr-placeholder="asda" click-activation="options.click_activation" data="data" on-type="doSomething" class="ng-scope ng-isolate-scope ng-pristine ng-valid">
    </autocomplete>-->
</body>
</html>
