
  <div id="page_viewer">
  <div id="infoLayer">
  <div class="info-big info-left" style="left:60px">Forrige Side</div>
  <div class="info-big info-right" style="right:60px">Næste Side</div>
  <div class="info-small info-left" style="left:40px">Første side</div>
  <div class="info-small info-right" style="right:40px">Sidste side</div>
  <div class="info-menu">Menu</div>
  <div class="info-map">Overblik</div>
  <div class="info-zoom">Zoom</div>
  <div class="info-sidetal">Sidetal</div>
  <div id="infoClose"><i class="glyphicon glyphicon-remove"></i><span class="closeInfoText">LUK INFO</span></div>
  </div>
    <div id="topfind" class="topcontrols">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1 alignLeft">
          <div class="btn btn-light" ng-click="goToFrontPage()">Forside</div>
        </div>
        <div class="col-xs-6 col-sm-11 col-md-11 col-lg-11">
          <div class="form_text">
            <span class="bold">{{metadata.collection.short_name}}</span> {{metadata.collection.info}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 topcontrols_form">
          <form class="form-inline padTheForm" role="form">

            <dynaform filters="metadata.filters"></dynaform>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-submit" ng-show="metadata.canSearch" ng-click="metadata.search()">Find</button>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 topcontrols_form ">
        <div class="btn btn-light" id="print">Print</div>
        <div class="btn btn-light btnGem">Gem
          <div class="gemDiv">
            <ul>
              <li><a target="_blank" href="{{metadata.item.imageUrl}}">Stor</a></li>
            </ul>
          </div>
        </div><br/>
        <div class="btn btn-light btnLink">Link
          <div class="linkDivCont"><input type="text" class="linkDiv" value="{{metadata.item.permaLink}}" id="linkInput"></div>
          </div>
        </div>
        </div>
        <div class="topcontrols_container">
          <div id="toggleTop" class="topcontrols-button findBtn"><span class="findtext">MENU</span></div>
          <div class="topcontrols-button sourceText"><div class="sourcetext">{{metadata.collection.short_name}} <span class="bold">{{metadata.item.metadataDescription}}</span></div></div>
        </div>
      </div>
    </div>

  <!-- BIG ARROWS -->
    <div id="bigLeft" class="controls controlArrowBig leftArrow" ng-click="metadata.step(-1)"><div class="arrow_container"><img src="assets/img/controls/bigArrowLeft.png" class="maxWidthImage" alt=""></div></div>
    <div id="bigRight" class="controls controlArrowBig rightArrow" ng-click="metadata.step(1)"><div class="arrow_container"><img src="assets/img/controls/bigArrowRight.png" class="maxWidthImage" alt=""></div></div>
  <!-- SMALLER ARROWS -->
    <div id="smallLeft" class="controls controlArrowSmall leftArrow" ng-click="metadata.step(-5)"><div class="arrow_container"><img src="assets/img/controls/smallArrowLeft.png" class="maxWidthImage" alt=""></div></div>
    <div id="smallRight" class="controls controlArrowSmall rightArrow" ng-click="metadata.step(5)"><div class="arrow_container"><img src="assets/img/controls/smallArrowRight.png" class="maxWidthImage" alt=""></div></div>
  <!-- DARKER CONTROLS -->
    <div id="darkBackside" class="controls controlArrowDarker rightArrow" ng-hide="true"><div class="arrow_container"><img src="assets/img/controls/arrowBackside.png" class="maxWidthImage" alt=""></div></div>
    <div id="darkQuestionmark" class="controls controlQuestionmark rightArrow"><div class="arrow_container"><img src="assets/img/controls/questionmark.png" class="maxWidthImage" alt=""></div></div>
  <!-- PAGER -->
    <div class="controls controlPager rightArrow"><div class="arrow_container"><input type="text" class="pager-input numeric" id="pageNumber" ng-model="metadata.currentPage" ng-enter="metadata.goToNumber()" ng-blur="metadata.goToNumber()"><span class="page-seperator">/</span><span class="pager-pages">{{metadata.itemsList.length}}</span></div></div>
    <!-- start megazoom, display:none is added in case that js is disabled! -->
    <div id="map"></div>

