  <div id="frontvideo" ng-show="metadata.collection.video_link">

      <div class="close-frontvideo"><i class="glyphicon glyphicon-remove closeVideo"></i>

      </div>

      <div class="container">

          <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                  <div class="video_screen"><div youtube-video video-id="metadata.collection.video_link" player-heigt="'400px'" player-width="'600px'"></div></div>

              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

          </div>

      </div>

  </div>

  <div id="page_find" class="container page first">

      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="header">

                  <img src="assets/img/big_kk.png" class="header_logo">

              </div>

          </div>

      </div>

      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="header_text" ng-bind-html="metadata.collection.info"></div>

          </div>

      </div>

      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="form_box">

                  <div id="videoToggle" class="btn btn-default"><i class="glyphicon glyphicon-play video_play_icon"> </i>Inden du begynder</div>

                  <div class="form-group" ng-show='showCollectionsList'>

                      <select chosen disable-search="true" data-placeholder="Vælg samling" no-results-text="'Ingen samlinger'" ng-model="metadata.collectionId" ng-options="col.id as col.short_name for col in metadata.collections" style="width:300px;">

                          <option value=""></option>

                      </select>

                      <div class="qmark qmarktop fa fa-question" data-content="Den samling du vil kigge i"></div>

                      <div class="form_box_input_help input_help_top"></div>

                  </div>



                  <div class="frontpage-inputs" dynaform filters="metadata.filters"></div>

                  <p class="form-text-bottom" ng-hide='true'>{{metadata.collection.gui_required_fields_text}}</p>
                  <div class="form-group">
                      <button type="submit" class="btn btn-default btn-submit" ng-click="metadata.search()">Find</button>
                  </div>
                  <div class="form-group error-field"> {{metadata.status}}</div>

              </div>

          </div>

      </div>

  </div>

  <div id="redirector" class="container-fluid page secondpage">

      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <span class="goBack"></span>

          </div>

      </div>

  </div>

  <div id="feedbackbox" style="position: fixed; right: 12px; top: 10px; display: none; width: 39px; height: 39px; z-index: 100002; background-color: transparent;">
        <div style="position:absolute; z-index:100001; left:-288px; top:30px; display:block; width:340px; height: 725px; background-color:transparent">
            <iframe id="feedbackiframe" style="display:block; border:none; width:100%; height:100%" src="https://docs.google.com/forms/d/1jhgUevTtlneTAsxL8ChK_Zad7cTf3XrrZemlRfCsQeg/viewform" width="340" height="700" frameborder="0" marginheight="0" marginwidth="0" allowtransparency="true">Indlæser...</iframe>
            <div style="display:block; position:relative; left:280px; top:-690px; width:30px; height:30px; text-align:right; color:black; font-size:20px; cursor:pointer; padding:0px; font-family:  'franklin-gothic-urw-comp',sans-serif;" onclick="formShower.toggleFeedback();">Luk</div>
        </div>
</div>

