<!DOCTYPE html>
<html lang="en" ng-app="KSA_Bladr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024, initial-scale=1, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/favicon.ico">

    <title>Kildeviseren</title>


    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" type="text/css" href="assets/css/lhp_miv.css" />
    <link rel="stylesheet" type="text/css" href="directives/chosen.css" />

<!--    <script src="directives/kildeviser-input.js"></script>
    <script src="directives/kildeviser-select.js"></script>
    <script src="directives/kildeviser-submit.js"></script>
    <script src="directives/formly-form.js"></script>
    <script src="directives/formly-field.js"></script>
    <script src="directives/autocomplete.js"></script>-->

  </head>
  <body  ng-controller="ViserCtrl">
  <div id="preload"></div>
  <div id="page_viewer">
  <div id="infoLayer">
  <div class="info-big info-left" style="left:60px">Forrige Side</div>
  <div class="info-big info-right" style="right:60px">Næste Side</div>
  <div class="info-small info-left" style="left:40px">Første side</div>
  <div class="info-small info-right" style="right:40px">Sidste side</div>
  <div class="info-menu">Menu</div>
  <div class="info-map">Overblik</div>
  <div class="info-zoom">Zoom</div>
  <div class="info-sidetal">Sidetal</div>
  <div id="infoClose"><i class="glyphicon glyphicon-remove"></i><span class="closeInfoText">LUK INFO</span></div>
  </div>
    <div id="topfind" class="topcontrols">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-1 col-md-1 col-lg-1 alignLeft">
          <a href="index.html" class="btn btn-default">forside</a>
        </div>
        <div class="col-xs-6 col-sm-11 col-md-11 col-lg-11">
          <div class="form_text">
            Politiets mandtaller 1866-1899 er skemaer over personer
            over 10 år bosat i København, registreret to gange årligt af
            Københavns Politi. Her er et eksempel på et <a href="#">link</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 topcontrols_form col-lg-offset-1 col-sm-offset-1 col-md-offset-1">
          <form class="form-inline" role="form">
                    <div class="form-group">
                      <input type="text" class="form-control top_box_input floatlabel" data-placehold="Gade" data-label="Indtast gadens navn" id="gade" ng-model="metadata.selectedStreet" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations">
                    </div>
                    <div class="form-group">
                      <select
                        chosen
                        allow-single-deselect="true"
                        data-placeholder="Måned"
                        no-results-text="'Ingen resultater'"
                        ng-model="metadata.selectedYear"
                        ng-options="year.id as year.text for year in metadata.years"
                        style="width:200px;">
                        <option value=""></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <h2>Chosen with static options: {{ bar }}</h2>
                      <select chosen disable-search="true" ng-model="bar">
                        <option>Hi</option>
                        <option>This is fun</option>
                        <option>I like Chosen so much</option>
                        <option>I also like bunny rabbits</option>
                        <option value=""></option>
                      </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control top_box_input floatlabel" data-placehold="Måned" data-label="Indtast måned" id="month">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control top_box_input floatlabel" data-placehold="Lorem Ipsum" data-label="Indtast Lorem Ipsum" id="lorem1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control top_box_input floatlabel" data-placehold="Lorem Ipsum" data-label="Indtast Lorem Ipsum" id="lorem2">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control top_box_input floatlabel" data-placehold="Lorem Ipsum" data-label="Indtast Lorem Ipsum" id="lorem3">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-submit">Find</button>
                    </div>
          </form>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 topcontrols_form ">
        <div class="btn btn-light">Print</div>
        <div class="btn btn-light btnGem">Gem
          <div class="gemDiv">
            <ul>
              <li>Lille</li>
              <li>Stor</li>
            </ul>
          </div>
        </div><br/>
        <div class="btn btn-light btnLink">Link
          <div class="linkDivCont"><input type="text" class="linkDiv" value="" id="linkInput"></div>
          </div>
        </div>
        </div>
        <div class="topcontrols_container">
          <div class="toprightcc">
            <img src="assets/img/small-cc.png">
          </div>
          <div id="toggleTop" class="topcontrols-button findBtn"><span class="findtext">MENU</span></div>
          <div class="topcontrols-button sourceText"><div class="sourcetext">politiets mandtal <span class="bold">københavn 1897, maj, vognmagergade</span></div></div>
        </div>
      </div>
    </div>

  <!-- BIG ARROWS -->
    <div id="bigLeft" class="controls controlArrowBig leftArrow" ng-click="browse.step(-1)"><div class="arrow_container"><img src="assets/img/controls/bigArrowLeft.png" class="maxWidthImage" alt=""></div></div>
    <div id="bigRight" class="controls controlArrowBig rightArrow" ng-click="browse.step(1)"><div class="arrow_container"><img src="assets/img/controls/bigArrowRight.png" class="maxWidthImage" alt=""></div></div>
  <!-- SMALLER ARROWS -->
    <div id="smallLeft" class="controls controlArrowSmall leftArrow" ng-click="browse.step(-5)"><div class="arrow_container"><img src="assets/img/controls/smallArrowLeft.png" class="maxWidthImage" alt=""></div></div>
    <div id="smallRight" class="controls controlArrowSmall rightArrow" ng-click="browse.step(5)"><div class="arrow_container"><img src="assets/img/controls/smallArrowRight.png" class="maxWidthImage" alt=""></div></div>
  <!-- DARKER CONTROLS -->
    <div id="darkBackside" class="controls controlArrowDarker rightArrow"><div class="arrow_container"><img src="assets/img/controls/arrowBackside.png" class="maxWidthImage" alt=""></div></div>
    <div id="darkQuestionmark" class="controls controlQuestionmark rightArrow"><div class="arrow_container"><img src="assets/img/controls/questionmark.png" class="maxWidthImage" alt=""></div></div>
  <!-- PAGER -->
    <div class="controls controlPager rightArrow"><div class="arrow_container"><input type="text" value="3" class="pager-input numeric" id="pageNumber" ng-model="browse.currentPage" ng-enter="browse.goTo()"><span class="page-seperator">/</span><span class="pager-pages">{{browse.numberOfObjects}}</span></div></div>
    <!-- start megazoom, display:none is added in case that js is disabled! -->
    <div id="map"></div>
  </div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="//use.typekit.net/qna6hyw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <!-- PLUGINS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/easing/EasePack.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/jquery.gsap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/ScrollToPlugin.min.js"></script>
    <script src="assets/js/plugins/canvasLoader.js"></script>
    <script type="text/javascript" src="assets/js/quo.js"></script>
    <script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.lhpMegaImgViewer.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>

<!--     <script type="text/javascript" src="assets/js/FWDMegazoom.js"></script> -->


        <!-- Chosen directive for Angular -->
    <script src="assets/js/chosen.jquery.js"></script>
    <script src="directives/chosen.js"></script>
<!--     <script>L_PREFER_CANVAS = true;</script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="assets/js/plugins/leaflet-minimap.js"></script> -->

    <!-- ui select -->
    <!--<script src="directives/ui-bootstrap-0.11.0.min.js"></script>
    <script src="directives/ui-bootstrap-tpls-0.11.0.min.js"></script>-->
    <script src="app.js"></script>
    <script src="controllers/ViserCtrl.js"></script>
    <script src="services/BrowseService.js"></script>
    <script src="services/MetadataManagerService.js"></script>
    <script src="services/FormBuilderService.js"></script>
    <script src="services/URLBuilderService.js"></script>

    <!-- CUSTOM READY SCRIPTS -->
    <script src="assets/js/korsager.js"></script>


 </body>
</html>
