  <div class="kk-text-input kk-input-element">
    <div class="kk-text-input-banner"><img src="assets/img/input-banner.png"></div>
    <div class="kk-questionmark" data-container="body" data-toggle="popover" data-placement="right"
    data-content="{{helptext}}">?</div>
    <input type="text" value="" placeholder="{{placeholder}}" class="kk-input" ng-keydown="allowNumeric">
    <div class="monthpicker">
        <ul>
            <li ng-repeat="value in values" ng-click="setValue(value.text)">{{ value.text }}</li>
        </ul>
    </div>    
  </div>