/*
* cursors
*/
.lhp_cursor_drag {
	cursor: url(lhp_miv/cursorDrag.png), move;
}

.lhp_cursor_hand {
	cursor: url(lhp_miv/cursorHand.png), default;
}

/*
 * navigation
 */
.lhp_miv_nav {
	position:fixed;
	z-index:5;
}

.lhp_miv_nav_pos_T {
	top:5px;
	left:50%;
}

.lhp_miv_nav_pos_TL {
	top:5px;
	left:5px;
}

.lhp_miv_nav_pos_TR {
	top:5px;
	right:5px;
}

.lhp_miv_nav_pos_B {
	bottom:5px;
	left:50%;
}

.lhp_miv_nav_pos_BL {
	bottom:60px;
	left:0;
}

.lhp_miv_nav_pos_BR {
	bottom:5px;
	right:5px;
}

.lhp_miv_nav_pos_L {
	left:5px;
	top:50%;
}

.lhp_miv_nav_pos_R {
	right: 5px;
	top:50%;
}

.lhp_miv_nav ul {
	margin:0;
	padding:0;
}

.lhp_miv_nav ul li {
	position:relative;
	cursor:pointer;
	text-align: center;
	list-style:none;
	margin-bottom:2px;
	display:table;
}

.lhp_miv_nav ul li span {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	text-align: center;
}

ul li.lhp_miv_nav_btt_disab {
	cursor:default;
}

/*
* map palette
*/
.lhp_miv_map {
	position:absolute;
	z-index:4;
}

.lhp_miv_map_pos_T {
	left:50%;
}

.lhp_miv_map_pos_TL {

}

.lhp_miv_map_pos_TR {
	position:absolute;
	right:0;
}

.lhp_miv_map_pos_B {
	left:50%;
	bottom:0;
	position:absolute;
}

.lhp_miv_map_pos_BL {
	bottom:0;
	position:absolute;
}

.lhp_miv_map_pos_BR {
	bottom:0;
	right:0;
	position:absolute;
}

.lhp_miv_map_pos_L {
	top:50%;
}

.lhp_miv_map_pos_R {
	right:0;
	position:absolute;
	top:50%;
}

.lhp_miv_map_wrapp_hol {
	position:relative;
	overflow: hidden;
	border:1px solid #0f0f0f;
}

.lhp_miv_map_wrapp_hol_T {
	border-top:none;
}

.lhp_miv_map_wrapp_hol_TL {
	border-top:none;
	border-left:none;
}

.lhp_miv_map_wrapp_hol_TR {
	border-right:none;
	border-top:none;
}

.lhp_miv_map_wrapp_hol_B {
	position:absolute;
	border-bottom:none;
}

.lhp_miv_map_wrapp_hol_BL {
	border-left:none;
	border-bottom:none;
}

.lhp_miv_map_wrapp_hol_BR {
	border-right:none;
	border-bottom:none;
}

.lhp_miv_map_wrapp_hol_L {
	border-left:none;
}

.lhp_miv_map_wrapp_hol_R {
	border-right:none;
}

.lhp_miv_map_vr {
	background: #000;
	opacity: 0.5;
}

.lhp_miv_map_vr_over {
	background: #4cf1fe;
}
.lhp_miv_holder {
	z-index:998;
	background:#000;
}
/*
 * preloader
 */
.lhp_miv_preload_holder {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-17px;
	margin-left:-17px;
	z-index:999;
	width:33px;
	height:33px;
	background: #fff url('lhp_miv/ajax-loader.gif') no-repeat center;
	opacity: .5;
	border-radius: 17px;
}
.lhp_miv_blackScreen {
	background: #000 url('lhp_miv/ajax-loader-dark.gif') no-repeat center center;
}

/*
* info box
*/
.lhp_miv_infoBox_holder {
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	padding: 2px 6px;
	background:#262626;
	font:10px arial,sans-serif;
	color:#ddd;
	display: none;
}

/*
* markers
*/
.lhp_miv_hotspot .lhp_miv_marker {

}

.lhp_miv_hotspot .pos-TL {

}

.lhp_miv_hotspot .pos-T {
	position:relative;
	left:-50%;
}

.lhp_miv_hotspot .pos-TR {
	position:relative;
	left:-100%;
}

.lhp_miv_hotspot .pos-L {
	position:relative;
	top:-50%;
}

.lhp_miv_hotspot .pos-C {
	position:relative;
	top:-50%;
	left:-50%;
}

.lhp_miv_hotspot .pos-R {
	position:relative;
	top:-50%;
	left:-100%;
}

.lhp_miv_hotspot .pos-BL {
	position:relative;
	top:-100%;
}

.lhp_miv_hotspot .pos-B {
	position:relative;
	top:-100%;
	left:-50%;
}

.lhp_miv_hotspot .pos-BR {
	position:relative;
	top:-100%;
	left:-100%;
}

.lhp_miv_popup_close {
	position:absolute;
	z-index:1000;
	width:15px;
	height:15px;
	right:14px;
	top:14px;
	cursor:pointer;
	border-radius:5px;
	background: #00c6ff url('lhp_miv/popupClose.png') no-repeat center;
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: absolute;
	bottom: 0;
	left:0;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	*z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-origin,
.noUi-handle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}